Repository GitTools/GitVersion, pull requests merged in 2024-10, with the labels that each got.

#4251 update docker distros
  .github/actions/docker-test/action.yml
  .github/workflows/_artifacts_linux.yml
  .github/workflows/_docker.yml
  .github/workflows/_docker_manifests.yml
  .github/workflows/_unit_tests.yml
  build/.run/Artifacts DotnetTool Test.run.xml
  build/.run/Artifacts MsBuildCore Test.run.xml
  build/.run/Artifacts Native Test.run.xml
  build/.run/Artifacts Prepare.run.xml
  build/.run/Artifacts Test.run.xml
  build/.run/Docker Build.run.xml
  build/.run/Docker Manifest.run.xml
  build/.run/Docker Publish.run.xml
  build/.run/Docker Test.run.xml
  build/common/Utilities/Constants.cs
  build/docker/Dockerfile
Labels: build

#4252 (build) improvements in the CI solution
  build/artifacts/Tasks/ArtifactsDotnetToolTest.cs
  build/artifacts/Tasks/ArtifactsExecutableTest.cs
  build/artifacts/Tasks/ArtifactsMsBuildCoreTest.cs
  build/artifacts/Tasks/ArtifactsMsBuildFullTest.cs
  build/artifacts/Tasks/ArtifactsNativeTest.cs
  build/artifacts/Tasks/ArtifactsPrepare.cs
  build/artifacts/Tasks/ArtifactsTest.cs
  build/build/BuildLifetime.cs
  build/build/Tasks/Build.cs
  build/build/Tasks/BuildPrepare.cs
  build/build/Tasks/Package/PackageChocolatey.cs
  build/build/Tasks/Test/UnitTest.cs
  build/build/Tasks/ValidateVersion.cs
  build/common/Addins/GitVersion/GitVersionAliases.cs
  build/common/Addins/GitVersion/GitVersionRunner.cs
  build/common/Lifetime/BuildLifetimeBase.cs
  build/common/Utilities/BuildContextBase.cs
  build/common/Utilities/Constants.cs
  build/common/Utilities/DockerContextExtensions.cs
  build/common/Utilities/Extensions.cs
  build/common/Utilities/TaskArgumentsAttribute.cs
  build/docker/Tasks/DockerBuild.cs
  build/docker/Tasks/DockerHubReadmePublish.cs
  build/docker/Tasks/DockerManifest.cs
  build/docker/Tasks/DockerPublish.cs
  build/docker/Tasks/DockerTest.cs
  build/docs/Tasks/GenerateSchemas.cs
  build/publish/Tasks/PublishChocolatey.cs
  build/publish/Tasks/PublishNuget.cs
Labels: build

#4220 Improve documentation around version strategies
  docs/input/docs/learn/how-it-works.md
  docs/input/docs/reference/mdsource/configuration.source.md
  docs/readme.md
Labels: documentation

#4259 Moved direct usages of IGitRepository to IRepositoryStore
  src/GitVersion.Core/Core/Abstractions/IRepositoryStore.cs
  src/GitVersion.Core/Core/BranchRepository.cs
  src/GitVersion.Core/Core/BranchesContainingCommitFinder.cs
  src/GitVersion.Core/Core/GitVersionContextFactory.cs
  src/GitVersion.Core/Core/MainlineBranchFinder.cs
  src/GitVersion.Core/Core/MergeBaseFinder.cs
  src/GitVersion.Core/Core/MergeCommitFinder.cs
  src/GitVersion.Core/Core/RepositoryStore.cs
  src/GitVersion.Core/Core/TaggedSemanticVersionRepository.cs
  src/GitVersion.Core/Core/TaggedSemanticVersionService.cs
  src/GitVersion.Core/Git/IGitRepository.cs
  src/GitVersion.Core/PublicAPI.Shipped.txt
  src/GitVersion.Core/PublicAPI.Unshipped.txt
  src/GitVersion.Core/VersionCalculation/Caching/GitVersionCacheKeyFactory.cs
  src/GitVersion.Core/VersionCalculation/IncrementStrategyFinder.cs
  src/GitVersion.LibGit2Sharp/Git/BranchCollection.cs
  src/GitVersion.LibGit2Sharp/Git/CommitCollection.cs
  src/GitVersion.LibGit2Sharp/Git/GitRepository.cs
  src/GitVersion.LibGit2Sharp/Git/GitRepository.mutating.cs
Labels: improvement

#4263 (deps): Bump MSBuild.ProjectCreation to 13.0.0
  src/Directory.Packages.props
  src/GitVersion.Configuration/GitVersion.Configuration.csproj
  src/GitVersion.MsBuild.Tests/GitVersion.MsBuild.Tests.csproj
  src/GitVersion.Output/GitVersion.Output.csproj
  src/GitVersion.Schema/GitVersion.Schema.csproj
Labels: dependencies

#4265 (build) add actions/attest-build-provenance
  .github/actions/artifacts-attest/action.yml
  .github/actions/artifacts-restore/action.yml
  .github/actions/cache-restore/action.yml
  .github/workflows/_artifacts_linux.yml
  .github/workflows/_artifacts_windows.yml
  .github/workflows/_build.yml
  .github/workflows/_docker.yml
  .github/workflows/_docker_manifests.yml
  .github/workflows/_publish.yml
  .github/workflows/_unit_tests.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  build/CI.sln
Labels: build

#4281 (build) - fix dockerhub readme publish
  .github/workflows/_docker.yml
  .github/workflows/ci.yml
  build/docker/Tasks/DockerHubReadmePublish.cs
Labels: build
